body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  gap: 15px;
}

#title-input,
#author-input {
  width: 45%;
  height: 30px;
  border: 1.8px solid gray;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.add-button {
  margin-left: 42.7%;
}

.remove {
  margin-left: 35%;
}

.displayTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-left: 35%;
}

.books-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  width: 90%;
}
