@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;0,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
  color: #1d1c1c;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: fixed;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
  background: #eee8e8;
  box-shadow: 0 2px 10px rgba(82, 80, 80, 0.384);
}

header a.logo {
  background: rgba(133, 127, 167, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 18px;
  border-radius: 50px 0 50px 0;
  margin-top: 2%;
}

header a.logo i {
  font-size: 35px;
  color: rgb(219, 101, 16);
}

header a.logo span {
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

a:active {
  background: rgba(139, 133, 172, 0.5);
}

ul {
  list-style-type: none;
}

li {
  font-size: 20px;
}

input {
  width: 50%;
  border: 2px solid black;
  background-color: white;
  padding: 5px;
  font-size: 20px;
  display: block;
  margin-bottom: 20px;
  border-radius: 3px;
}

p {
  font-size: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

.addBtn {
  align-self: flex-end;
  padding: 5px 10px;
  font-size: 15px;
  box-shadow: 3px 3px 2px black;
  margin-right: 25%;
}

.remove {
  padding: 5px;
  font-size: 15px;
  box-shadow: 3px 3px 2px black;
}

.section {
  height: 80vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-details {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* margin-top: 5px; */
  margin: 5px 20px;
  padding: 0 15px;
}

.book-details:nth-child(odd) {
  background-color: #cebfbf;
  border-radius: 5px;
}

.bookDisplay {
  margin-top: 100px;
  border-radius: 2px;
  width: 80%;
  max-height: 60vh;
  overflow: hidden;
  overflow-y: scroll;
}

#contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

#addBook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

nav {
  display: flex;
  padding: 0 10px;
  height: 2.5rem;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}

.nav-ul {
  display: flex;
  border: 3px solid black;
  margin-top: 2%;
  padding: 0 10px;
}

.nav-ul li {
  border-right: 1px solid black;
  padding: 2px 15px;
}

.nav-ul li:last-child {
  border: none;
}

footer {
  position: fixed;
  width: 100%;
  height: 40px;
  display: flex;
  padding-left: 30px;
  align-items: center;
  background: #dad5d5;
  box-shadow: 0 2px 10px rgba(82, 80, 80, 0.384);
  bottom: 0;
}

.contact-ul {
  list-style-type: circle;
}