body {
  margin: 0;
  width: 100vw;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 15px;
}

.centerItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}

#titleInput,
#authorInput {
  width: 95%;
  height: 30px;
  border: 1.8px solid gray;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

#addButton {
  margin-left: 80.7%;
}

.remove {
  margin-left: 35%;
}

ul,
li {
  list-style: none;
}

.displayFlex {
  display: flex;
  width: 96%;
  justify-content: space-between;
  padding: 2%;
  margin: 0%;
}

.backgroundColor {
  background: rgba(14, 13, 13, 0.4);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
